.Dashboard {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 50px;
    flex-wrap: wrap;
}

.DashboardCard {
    min-width: 500px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
}